<section data-ng-controller="ViewProductController" data-ng-init="findOne()">

	    <div class="list-group">
        <div class="col-xs-offset-2 col-xs-6 col-md-offset-2 col-md-6">
            <div class="row">
                <a  class="list-group-item">
                    <h4 class="list-group-item-heading" data-ng-bind="product.name"></h4>
                    <small class="list-group-item-text">
                        <div class="">
                            <img ng-src={{product.image}} width="300" />
                        </div>
                        <div class="">
                            <div>
                                Category :
                                <ul>
                                    <li ng-repeat="category in product.category">
                                        {{category}}
                                    </li>
                                </ul>
                            </div>
                            <div>Description : {{product.description}}</div>
                            <div>Price : ${{product.price}}</div>
                            <div>Quantity : {{product.quantity}}</div>
                            Created on
                            <span data-ng-bind="product.created | date:'medium'"></span>
                            by
                            <span data-ng-bind="product.user.displayName"></span>
                        </div>
                    </small>
                </a>
            </div>
        </div>
    </div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == product.user._id))">
		<a class="btn btn-primary" href="/#!/products/{{product._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="product.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="product.user.displayName"></span>
		</em>
	</small>
</section>
